POSTGRES_URL=jdbc:postgresql://postgres:5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

KEYCLOAK_POSTGRES_HOST=postgres
KEYCLOAK_DATABASE_NAME=keycloak
KEYCLOAK_DATABASE_SCHEMA_NAME=keycloak
KEYCLOAK_DATABASE_USERNAME=postgres
KEYCLOAK_DATABASE_PASSWORD=postgres

KEYCLOAK_USER=admin
KEYCLOAK_PASSWORD=admin
KEYCLOAK_SRV=http://keycloak:8080/auth
KEYCLOAK_REALM=test
